name: Refresh Automatic Content

on:
  repository_dispatch:
    types: [sync-trigger]
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

concurrency:
  group: refresh-automatic-content
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  refresh-automatic-content:
    runs-on: ubuntu-latest
    environment: automatic-content-refresh
    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        token: ${{ secrets.REPO_TOKEN }}
    - name: Set up Ruby
      uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0
      with:
        ruby-version: '4.0.0'
    - name: Refresh Karafka integrations catalog
      run: |
        bin/refresh_karafka_integrations_catalog
    - name: Fetch remote content
      run: |
        bin/refresh_remote_content
    - name: Fetch librdkafka releases
      run: |
        bin/refresh_librdkafka_releases
    - name: Refresh librdkafka errors
      run: |
        bin/refresh_librdkafka_errors
    - name: Refresh librdkafka statistics
      run: |
        bin/refresh_librdkafka_statistics
    - name: Refresh librdkafka configuration
      run: |
        bin/refresh_librdkafka_configuration
    - name: Refresh instrumentation events
      run: |
        bin/refresh_instrumentation_events
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
      with:
        token: ${{ secrets.REPO_TOKEN }}
        commit-message: 'chore: refresh automatic content'
        title: 'Automatic content updates'
        body: 'Automated update of automatic content'
        branch: automated/automatic-content-updates
        base: master
    - name: Trigger CI with force push
      run: |
        git push --force-with-lease origin automated/automatic-content-updates
